<%- include( '../includes/head.ejs' ) %>
</head>

<body>
      <section class="h-100 bg-dark">
          <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card card-registration my-4">
                    <div class="row g-0">
                      <div class="col-xl-6 d-none d-xl-block">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                          alt="Sample photo" 
                          class="img-fluid"
                          style="height: 849px; border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                      </div>
                      <div class="col-xl-6">
                          <form 
                              action="/auth/create" 
                              method="post">
                            <div class="card-body p-md-5 text-black">
                              <h3 class="mb-5 text-uppercase">Student registration form</h3>
                            
                              <div class="row">
                                  <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                          <input 
                                              type="text" 
                                              name="firstName" 
                                              id="form3Example1m" 
                                              class="form-control form-control-lg" />
                                          <label 
                                              class="form-label" 
                                              for="form3Example1m">
                                                First name
                                            </label>
                                      </div>
                                  </div>
                                  <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                          <input 
                                              type="text" 
                                              name="secondName" 
                                              id="form3Example1n" 
                                              class="form-control form-control-lg" />
                                          <label 
                                              class="form-label" 
                                              for="form3Example1n">
                                                Last name
                                              </label>
                                      </div>
                                  </div>
                              </div>
                            
                              <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                              
                                  <h6 class="mb-0 me-4">Gender: </h6>
                                
                                  <div class="form-check form-check-inline mb-0 me-4">
                                      <input 
                                          class="form-check-input" 
                                          type="radio" 
                                          name="gender" 
                                          id="femaleGender"
                                          value="option1" />
                                      <label 
                                          class="form-check-label" 
                                          for="femaleGender">
                                            Female
                                          </label>
                                  </div>
                                
                                  <div class="form-check form-check-inline mb-0 me-4">
                                      <input 
                                          class="form-check-input" 
                                          type="radio" 
                                          name="gender" 
                                          id="maleGender"
                                          value="option2" />
                                      <label 
                                          class="form-check-label" 
                                          for="maleGender">
                                            Male
                                      </label>
                                  </div>
                                
                                  <div class="form-check form-check-inline mb-0">
                                      <input 
                                          class="form-check-input" 
                                          type="radio" 
                                          name="gender" 
                                          id="otherGender"
                                          value="option3" />
                                      <label 
                                          class="form-check-label" 
                                          for="otherGender">
                                            Other
                                      </label>
                                  </div>
                              
                              </div>
                            
                            <div class="row">
                              
                                <div class="form-outline mb-4">
                                    <input 
                                        type="text" 
                                        id="form3Example9" 
                                        name="birth" 
                                        class="form-control form-control-lg" />
                                    <label 
                                        class="form-label" 
                                        for="form3Example9">
                                          DOB
                                    </label>
                                </div>
                              
                                <div class="form-outline mb-4">

                                    <div class="form-outline mb-4">
                                        <input 
                                            type="email" 
                                            name="email" 
                                            id="form3Example97" 
                                            class="form-control form-control-lg" />
                                        <label 
                                            class="form-label" 
                                            for="form3Example97">
                                              Email ID
                                        </label>
                                    </div>
                                  
                                    <div class="form-outline mb-4">
                                        <input 
                                            type="password" 
                                            id="psw" 
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                                            name="password" 
                                            id="form3Example99" 
                                            class="form-control form-control-lg" 
                                            required>
                                        <label 
                                            class="form-label" 
                                            for="form3Example99">
                                              Password
                                        </label>
                                    </div>
                                    
                                    <!-- password validation messages -->
                                    <div id="message">
                                      <h3>Password must contain the following:</h3>
                                      <p 
                                          id="letter" 
                                          class="invalid">
                                            A <b>lowercase</b> letter
                                      </p>

                                      <p id="capital" class="invalid">
                                        A <b>capital (uppercase)</b> letter
                                      </p>

                                      <p 
                                        id="number" 
                                        class="invalid">
                                          A <b>number</b>
                                      </p>

                                      <p 
                                          id="length" 
                                          class="invalid">
                                            Minimum <b>8 characters</b>
                                      </p>
                                    </div>
                                    <!-- /password validation messages -->
                                </div>
                              
                                <% if( message ) {%>
                                    <div class="alert alert-danger" role="alert">
                                        <%= message %>
                                    </div>
                                <% } %>
                                  
                                <div class="d-flex justify-content-end pt-3">
                                    <button 
                                        type="button" 
                                        class="btn btn-light btn-lg">
                                          Reset all
                                    </button>
                                    <button 
                                        type="submit" 
                                        class="btn btn-warning btn-lg ms-2">
                                          Submit form
                                    </button>
                                </div>
                            
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </section>

      <style>
        /* Style all input fields */
          input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
          }
          
          /* Style the submit button */
          input[type=submit] {
            background-color: #04AA6D;
            color: white;
          }
          
          /* Style the container for inputs */
          .container {
            background-color: #f1f1f1;
            padding: 20px;
          }
          
          /* The message box is shown when the user clicks on the password field */
          #message {
            display:none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
          }
          
          #message p {
            padding: 10px 35px;
            font-size: 18px;
          }
          
          /* Add a green text color and a checkmark when the requirements are right */
          .valid {
            color: green;
          }
          
          .valid:before {
            position: relative;
            left: -35px;
            content: "&#10004;";
          }
          
          /* Add a red text color and an "x" icon when the requirements are wrong */
          .invalid {
            color: red;
          }
          
          .invalid:before {
            position: relative;
            left: -35px;
            content: "&#10006;";
          }
      </style>

      <script>
        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        
        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }
        
        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }
        
        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }
        
          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }
        
          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }
        
          // Validate length
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
  </script>
<%- include( '../includes/end.ejs' ); %>